body {
  font-family: "Poppins", sans-serif;
  background-color: #e0e0e0;
  color: #fff;
  box-sizing: border-box;
}

:root {
  --plyr-color-main: #e12826;
}

.hidden {
  display: none;
}

.bg-colour {
  background-color: #e12826;
  padding-top: 50px;
  padding-bottom: 10px;
}

span {
  color: #e12826;
  font-weight: 600;
}

.desk-logo {
  display: none;
}

header {
  background-color: #e12826;
  padding: 16px 0;
  margin-bottom: 0px;
}

.header-sec {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  margin-left: auto;
  margin-top: 0;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.header-sec {
  display: flex;
  justify-content: space-between;
}

.header-sec img {
  height: 22px;
  width: 96px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: #e129265e;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.sidebar.show {
  opacity: 1;
  visibility: visible;
}

.sidebar li {
  padding-bottom: 32px;
  width: 100%;
}

.sidebar li a {
  width: 100%;
}

.hidemobile {
  display: none;
}

.hideondesktop {
  display: flex;
}

.main-text h1 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 3.84px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.main-text h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 56px;
}

.gallery-car {
  margin: 24px 0;
  display: flex;
  overflow: hidden;
  /* margin-inline: auto; */
}

.car-2 {
  display: none;
}

.interactive {
  margin-bottom: 24px;
}

.interactive p {
  letter-spacing: 1.4px;
}

.title-des {
  background-color: #fff;
  color: #e12826;
  padding-bottom: 82px;
}

.title-sub h2 {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 72px;
  letter-spacing: 3.84px;
}

.title-sub h3 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 34px;
}

.gallery-car {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.car-wrap {
  display: flex;
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0%;
  transform: translateX(0);
  animation: slide 10s infinite linear;
}

.carousel {
  width: 100%;
}

.carousel img {
  border-radius: 10px;
  height: 100%;
  margin-right: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

.card {
  text-align: left;
  width: 100%;
  background-color: #e12826;
  padding: 0 8px;
  margin-bottom: 32px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 32px -5px rgba(0, 0, 0, 0.52);
  transition: 0.50s transform ease-in-out;
}

.card:hover {
  transform: translateY(-16px);
}

.card img {
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  height: 220px;
  object-fit:cover;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 24px;
}

.more-stu {
  text-align: center;
  margin-top: 56px;
  color: #000;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.speakers {
  background-color: #fff;
}

.speakers p {
  font-size: 2rem;
  text-align: left;
  color: #636466;
  letter-spacing: 2px;
  margin-bottom: 72px;
}

.invitation {
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.84px;
  /* padding-bottom: 72px; */
}

.connect img {
  width: 100%;
  border-radius: 20px;
}

.connect-text {
  padding-top: 38px;
  /* 1877-627-6645 */
}

.connect-text h3 {
  color: #000;
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: none;
}

.connect-text h2 {
  color: #b3282d;
  text-align: left;
  margin-top: 32px;
  font-weight: 400;
}

.connect-text p {
  color: #636466;
  letter-spacing: 0.13px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.image-flex {
  display: none;
}

.venue-card {
  background-color: #e12826;
  color: #fff;
  border-radius: 16px;
  padding: 32px 16px;
  margin-top: 72px;
}

.venue-card h2 {
  font-weight: 600;
  font-size: 2rem;
}

.venue-card h3 {
  margin-bottom: 128px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.venue-card p {
  text-transform: none;
  letter-spacing: 0.13px;
  text-align: left;
}

.venue-card button {
  color: #fff;
  padding: 8px 16px;
  background-color: #e12826;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 32px;
}

.venue-card-2 {
  background-color: #b3282d;
  margin-top: 32px;
  border-radius: 16px;
  color: #fff;
  padding: 32px 16px;
  margin-bottom: 72px;
}

.venue-card-2 h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.venue-card-2 p {
  text-transform: none;
  letter-spacing: 0.13px;
  margin-bottom: 128px;
}

.venue-card-2 ul li {
  margin-left: -20px;
  margin-bottom: -15px;
}

.venue-card-2 .sub-date {
  margin-left: 20px;
  letter-spacing: 0.13px;
  opacity: 0.72;
  margin-bottom: 16px;
}

.client-project {
  background-color: #fff;
}

.foundation {
  text-align: left;
}

.foundation-p {
  color: #e12826;
  font-weight: 300;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.foundation h3 {
  width: 334px;
  font-size: 3rem;
  color: #000;
  margin-bottom: 32px;
  font-weight: 600;
}

.sub-p,
.sub-d {
  color: #636466;
  letter-spacing: 0.13px;
  margin-bottom: 16px;
}

.sub-d {
  margin: 16px 0 32px 0;
}

.section-holder img {
  width: 100%;
  border-radius: 16px;
}

.section-holder-2 {
  width: 100%;
  background-color: #636466;
  position: relative;
}

.section-holder-2 video {
  width: 100%;
}

.srishti-foundation {
  background-color: #b3282d;
  padding: 48px 0;
}

.srishti-bg {
  background-color: #fff;
}

.srishti {
  text-align: left;
}

.srishti p {
  font-weight: 300;
  color: #b3282d;
  margin-top: 72px;
  letter-spacing: 3.84px;
}

.srishti h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 32px;
}

.background h3 {
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
}

.background p {
  margin-bottom: 16px;
}

.project-goal-bg {
  background-color: #e12826;
}

.project-goal {
  text-align: left;
  padding-bottom: 72px;
}

.project-goal h3 {
  margin: 48px 0 28px 0;
  font-size: 3rem;
  font-weight: 600;
}

.project-goal p {
  letter-spacing: 0.13px;
}

#big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  font-size: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0.8;
}

#big-play-button.hide-button {
  opacity: 0;
  pointer-events: auto;
  transform: translate(-50%, -100%); /* Moves it offscreen upwards */
}

.big-play-button:hover {
  opacity: 1;
}

.big-play-button i {
  font-size: 100px;
}

.section-holder-2 .video-controls {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
  transition: all 0.2s ease-in-out;
}



button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.fa,
.fa-solid {
  color: #fff;
  font-size: 28px;
  margin-left: 20px;
}

.fa-stop-circle-o {
  margin-right: 20px;
}

.fa-volume-up {
  margin-left: auto;
}

#timer {
  color: white; /* Change this to the color that contrasts with your background */
  font-size: 16px; 
  margin: 4px 24px 0 0; 
}

input[type="range"]#video-progress {
  width: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #b3282d;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
}

.test {
  background-color: #000;
  padding-bottom: 40px;
}

#testimonial-container {
  display: contents;
}

.test-sub p {
  font-weight: 300;
  margin: 72px 0 8px 0;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.test-sub h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 48px;
}

.test-card {
  background-color: #b3282d;
  border-radius: 8px;
  padding: 32px 16px;
  margin-bottom: 32px;
}

.test-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.test-card h5 {
  font-size: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 16px 0 98px 0;
}

.test-card p {
  letter-spacing: 0.13px;
}

.hide-name {
  display: none;
}

.showcase {
  background-color: #fff;
  padding: 20px;
}

.portfolio {
  color: #000;
  text-align: center;
}

.portfolio p {
  color: #b3282d;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin-top: 72px;
}

.portfolio h2 {
  color: #e12826;
  font-size: 3rem;
  line-height: 56px;
  margin-bottom: 48px;
}

.student {
  background-color: #f5f5f5;
  color: #000;
  margin-bottom: 32px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.student:hover {
  transform: scale(1.05); 
}


.student h4 {
  font-size: 1rem;
  font-weight: 400;
}

.student-link {
  text-decoration: none;
  color: #636466;
  letter-spacing: 3.84px;
  opacity: 0.72;
  text-transform: uppercase;
}

.student-link:hover {
  text-decoration: underline;
  text-decoration-color: #b3282d;
  text-underline-offset: 8px;
}

.masonry-bg {
  background-color: #b3282d;
}

#masonry-con {
  grid-template-rows: repeat(16, minmax(0, 1fr));
  padding-bottom: 250px;
  padding-top: 32px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

#box1 {
  grid-column: 1/-1;
  grid-row: 1/5;
}

#box2 {
  grid-column: 1/3;
  grid-row: 5/9;
}

#box3 {
  grid-column: 3/5;
  grid-row: 5/7;
}

#box4 {
  grid-column: 1/3;
  grid-row: 9/11;
}

#box5 {
  grid-column: 3/5;
  grid-row: 7/11;
}

#box6 {
  grid-column: 1/-1;
  grid-row: 11/14;
}

#box7 {
  grid-column: 1/3;
  grid-row: 14/18;
}

#box8 {
  grid-column: 3/5;
  grid-row: 14/18;
}

#box9 {
  display: none;
}

.contact {
  position: relative;
}

.opportunity {
  display: none;
}

.meet-the-dev {
  background-color: #fff; 
  padding-bottom: 48px;
  padding-top: 72px;
}

.dev-head h2 {
  color: #b3282d;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3.84px;
}

.dev-head h3 {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 48px;
}

.developers {
  background-color: #b3282d;
  padding: 24px 0 24px 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0px 20px 40px #0000000A;
  transition: transform 0.3s ease;
}

.developers:hover {
  transform: scale(1.05); 
  
}

.developers h4 {
  font-size: 1rem;
  color: #fff;
}

.developers p {
  font-size: 0.5rem;
  letter-spacing: 1.92px;
  font-weight: 200;
}

.cta {
  background-color: #e12826;
  padding: 32px 24px;
  border-radius: 16px;
  position: absolute;
  top: -150px;
  z-index: 2;
  box-shadow: 0px 20px 40px #0000000a;
}

.cta h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 128px;
}

.cta h2 span {
  font-weight: 400;
  color: #fff;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-top: 24px;
}

.input-wrapper .text-input {
  height: 39px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #e12826;
  padding-left: 23px;
  font-size: 1rem;
}

.input-wrapper .text-input::placeholder {
  color: #fff;
}

.submit-btn {
  width: 59px;
  height: 31px;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #fff;
  color: #e12826;
  border-radius: 20px;
}

footer {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #636466;
}

footer img {
  margin-top: 448px;
}

footer p {
  margin-bottom: 42px;
}

@media screen and (min-width: 768px) {
  .gallery-car {
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-mob {
    display: none;
  }

  .desk-logo {
    display: block;
  }

  .header-sec nav ul {
    display: flex;
  }

  .header-sec nav ul li {
    list-style: none;
    padding-right: 32px;
  }

  .header-sec nav ul li:last-child {
    padding-right: 0;
  }

  .header-sec nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  .header-sec nav ul li a:hover {
    cursor: pointer;
  }

  .hidemobile {
    display: flex;
  }

  .hideondesktop {
    display: none;
  }

  #desk-hid {
    display: none;
  }

  .card {
    display: block;
  }

  .car-2 {
    display: none;
  }

  .title-des {
    text-align: center;
  }

  .invitation {
    padding-bottom: 72px;
  }

  .speakers p {
    text-align: center;
    text-transform: none;
  }

  .venue-card {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  .venue-card-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .connect img {
    height: 630px;
  }

  .connect-text h3 {
    margin-top: 8px;
    margin-bottom: 72px;
  }

  .connect-text p {
    margin-bottom: 24px;
  }

  .venue {
    margin-top: 128px;
  }

  .invitation-flex {
    display: flex;
  }

  .image-flex {
    display: block;
  }

  .image-flex img {
    object-fit: cover;
    height: 100%;
    width: 360px;
    border-radius: 20px;
  }

  .srishti p {
    margin-top: 0;
  }

  .client-project {
    text-align: left;
  }

  .client-project .section-holder {
    height: 100%;
  }

  .foundation {
    margin-top: 100px;
  }

  .foundation h3 {
    width: 100%;
  }

  .section-holder-2 {
    width: 100%;
    padding-bottom: 32px;
    background-color: #000;
  }

  .srishti {
    text-align: center;
  }

  .srishti-bg {
    padding-top: 72px;
  }

  .srishti-foundation {
    background-color: #fff;
    padding-bottom: 0px;
  }

  .background {
    background-color: #b3282d;
    border-radius: 16px;
    padding: 0 32px 72px 32px;
  }

  .project-goal-bg {
    background-color: #fff;
    padding-bottom: 128px;
    padding-top: 72px;
  }

  .project-goal {
    background-color: #e12826;
    border-radius: 16px;
    padding: 0 32px 72px 32px;
  }

  .section-holder-2 video {
    width: 100%;
  }

  .portfolio {
    text-align: center;
  }

  .hide-name {
    display: block;
  }

  .showcase-bg {
    background-color: #000;
    padding-bottom: 128px;
  }

  .showcase {
    margin: 0 50px;
    border-radius: 16px;
  }

  .students-mobile .student {
    display: inline-block;
    margin-right: 67px;
    margin-bottom: 72px;
  }

  .students-mobile .student:last-child {
    margin-right: 0px;
  }

  .masonry-bg {
    padding-top: 128px;
  }

  #box1 {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  #box2 {
    grid-column: 5/9;
    grid-row: 1/4;
  }

  #box3 {
    grid-column: 9/-1;
    grid-row: 14/18;
    order: 0;
  }

  #box4 {
    grid-column: 1/5;
    grid-row: 5/12;
  }

  #box5 {
    grid-column: 5/9;
    grid-row: 4/10;
  }

  #box6 {
    grid-column: 9/-1;
    grid-row: 7/14;
  }

  #box7 {
    grid-column: 1/5;
    grid-row: 12/18;
  }

  #box8 {
    grid-column: 5/9;
    grid-row: 10/18;
  }

  #box9 {
    display: block;
    grid-column: 9/-1;
    grid-row: 1/7;
    order: 1;
  }

  .opportunity {
    position: absolute;
    display: block;
    top: -150px;
    border-radius: 16px;
    box-shadow: 0px 20px 40px #0000000a;
    z-index: 2;
    background-color: #fff;
    padding: 72px 32px;
    color: #000;
  }

  .opportunity h2 {
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .opportunity h2 span {
    z-index: 2;
    font-weight: 600;
  }

  .opportunity button {
    background-color: #e12826;
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    margin-top: 32px;
  }

  .cta {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 42px;
    padding-right: 42px;
  }

  .cta h2 {
    font-size: 3rem;
    margin-top: 72px;
    margin-bottom: 32px;
  }

  .cta p {
    width: 381px;
  }

  .cta input {
    height: 39px;
    width: 297px;
    margin-bottom: 48px;
  }

  .input-wrapper .text-input {
    width: 310px;
  }

  .input-wrapper .submit-btn {
    top: 0;
    height: 39px;
  }

  .gallery-car {
    height: 350px;
  }

  .car-wrap {
    animation-duration: 15s;
  }

  .car-wrap:hover {
    animation-play-state: paused;
  }
}

@media screen and (min-width: 768px) {
  .main-text h1 {
    margin-bottom: 8px;
  }

  .carousel {
    display: flex;
  }

  .carousel picture {
    margin-right: 10px;
  }

  .interactive {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .more-stu {
    margin-top: 32px;
  }

  .speakers p {
    margin-top: 0;
  }

  .title-sub {
    text-align: center;
  }

  .card {
    display: block;
  }

  .connect img {
    height: 100%;
    object-fit: cover;
  }

  .connect-text {
    margin-bottom: 72px;
  }

  .venue-card-2 {
    margin-bottom: 0;
  }

  .venue {
    padding-top: 32px;
    padding-bottom: 72px;
  }

  .foundation {
    margin: 32px 0 32px 0;
  }

  .section-holder img {
    height: 100%;
    object-fit: cover;
  }

  .srishti-foundation {
    background-color: #fff;
    padding-left: 24px;
    padding-right: 24px;
  }

  .background {
    background-color: #b3282d;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
  }

  .project-goal-bg {
    background-color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 72px;
  }

  .project-goal {
    background-color: #b3282d;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
  }

  .masonry-bg {
    padding-top: 72px;
  }

  #box1 {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  #box2 {
    grid-column: 5/9;
    grid-row: 1/4;
  }

  #box3 {
    grid-column: 9/-1;
    grid-row: 14/18;
    order: 0;
  }

  #box4 {
    grid-column: 1/5;
    grid-row: 5/12;
  }

  #box5 {
    grid-column: 5/9;
    grid-row: 4/10;
  }

  #box6 {
    grid-column: 9/-1;
    grid-row: 7/14;
  }

  #box7 {
    grid-column: 1/5;
    grid-row: 12/18;
  }

  #box8 {
    grid-column: 5/9;
    grid-row: 10/18;
  }

  #box9 {
    display: block;
    grid-column: 9/-1;
    grid-row: 1/7;
    order: 1;
  }
}
