body {
  font-family: "Poppins", sans-serif;
  background-color: #e12826;
  color: #fff;
  box-sizing: border-box;
}

span {
  color: #e12826;
  font-weight: 600;
}

header {
  background-color: #e12826;
  padding: 16px 0;
  margin-bottom: 50px;
}

.header-sec {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  margin-left: auto;
  margin-top: 0;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.header-sec {
  display: flex;
  justify-content: space-between;
}

.header-sec img {
  height: 22px;
  width: 96px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: #e129265e;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.sidebar.show {
  opacity: 1;
  visibility: visible;
}

.sidebar li {
  padding-bottom: 32px;
  width: 100%;
}

.sidebar li a {
  width: 100%;
}

.hidemobile {
  display: none;
}

.hideondesktop {
  display: flex; /* Show on mobile */
}

.main-text h1 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 3.84px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.main-text h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 56px;
}

.gallery-car {
  display: flex;
  margin: 24px 0;
}

.gallery-car .placeholder {
  width: 159px;
  height: 159px;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 16px;
}

.interactive {
  margin-bottom: 24px;
}

.interactive p {
  letter-spacing: 1.4px;
}

.title-des {
  background-color: #fff;
  color: #e12826;
  padding-bottom: 82px;
}

.title-sub h2 {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 72px;
  letter-spacing: 3.84px;
}

.title-sub h3 {
  font-size: 48px;
  font-weight: 600px;
  margin-bottom: 34px;
}

.card {
  width: 100%;
  background-color: #e12826;
  padding: 0 8px;
  color: #fff;
  border-radius: 8px;
}

.card img {
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 24px;
}

.more-stu {
  text-align: center;
  margin-top: 56px;
  color: #000;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.speakers {
  font-size: 2rem;
  color: #636466;
  margin-top: 72px;
  line-height: 48px;
}

.venue-card {
  background-color: #e12826;
  color: #fff;
  border-radius: 16px;
  padding: 32px 16px;
  margin-top: 72px;
}

.venue-card h2 {
  font-weight: 600;
  font-size: 2rem;
}

.venue-card h3 {
  margin-bottom: 128px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3.84px;
}

.venue-card button {
  color: #fff;
  padding: 8px 16px;
  background-color: #e12826;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 32px;
}

.venue-card-2 {
  background-color: #b3282d;
  margin-top: 32px;
  border-radius: 16px;
  color: #fff;
  padding: 32px 16px;
  margin-bottom: 72px;
}

.venue-card-2 h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.venue-card-2 p {
  letter-spacing: 0.13px;
  margin-bottom: 128px;
}

.venue-card-2 ul li {
  margin-left: -20px;
  margin-bottom: -15px;
}

.venue-card-2 .sub-date {
  margin-left: 20px;
  letter-spacing: 0.13px;
  opacity: 0.72;
  margin-bottom: 16px;
}

.foundation {
  text-align: left;
}

.foundation .foundation-p {
  font-weight: 300;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.foundation h3 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 32px;
}

.foundation .sub-p,
.sub-d {
  color: #636466;
  letter-spacing: 0.13px;
}

.sub-d {
  margin: 16px 0 32px 0;
}

.section-holder {
  width: 100%;
  height: 334px;
  background-color: #636466;
  border-radius: 16px;
}

.section-holder-2 {
  width: 100%;
  height: 211px;
  background-color: #636466;
}

.test {
  background-color: #000;
  padding-bottom: 40px;
}

.test-sub p {
  font-weight: 300;
  margin: 72px 0 8px 0;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.test-sub h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 48px;
}

.test-card {
  background-color: #b3282d;
  border-radius: 8px;
  padding: 32px 16px;
  margin-bottom: 32px;
}

.test-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.test-card h5 {
  font-size: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 16px 0 98px 0;
}

.test-card p {
  letter-spacing: 0.13px;
}

.showcase {
  background-color: #fff;
}

.portfolio {
  color: #000;
}

.portfolio p {
  color: #b3282d;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin-top: 72px;
}

.portfolio h2 {
  color: #e12826;
  font-size: 3rem;
  line-height: 56px;
  margin-bottom: 48px;
}

.student {
  color: #000;
  margin-bottom: 32px;
}

.student h4 {
  font-size: 1rem;
  font-weight: 400;
}

.student p {
  letter-spacing: 3.84px;
  opacity: 0.72;
  text-transform: uppercase;
}

.gallery {
  background-color: #b3282d;
  padding-top: 30px;
  padding-bottom: 200px;
  position: relative;
}

.image-1 {
  width: 100%;
}

.image-2 {
  height: 218px;
  margin-top: 16px;
}

.image-3 {
  margin-top: 16px;
  height: 122px;
}

.image-4 {
  margin-top: 16px;
}

.image-5 {
  margin-top: -70px;
}

.image-6 img {
  width: 100%;
  margin-top: 16px;
}

.image-7,
.image-8 {
  margin-top: 16px;
}

.cta {
  position: absolute;
  z-index: 2;
  margin-top: 72px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: #e12826;
}

.cta .cta-text h2 {
  font-size: 2rem;
  margin-bottom: 128px;
}

footer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 532px;
  background-color: #fff;
  text-align: center;
  color: #636466;
}

footer img {
  margin-top: 396px;
}

@media screen and (min-width: 1200px) {
  .header-sec nav ul {
    display: flex;
  }

  .header-sec nav ul li {
    list-style: none;
    padding-right: 32px;
  }

  .header-sec nav ul li:last-child {
    padding-right: 0;
  }

  .header-sec nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  .header-sec nav ul li a:hover {
    cursor: pointer;
  }

  .hidemobile {
    display: flex;
  }

  .hideondesktop {
    display: none;
  }

  #desk-hid {
    display: none;
  }
}
